################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/apps/assignment03/windows
/apps/assignment04/.vs
/apps/assignment04/out/build/windows-default
/apps/assignment04/windows
