################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/apps/assignment03/windows
/apps/assignment04/.vs
/apps/assignment04/out/build/windows-default
/apps/assignment04/windows
/apps/assignment04_Q2/out/build/windows-default
/apps/assignment04_Q2/.vs
/apps/assignment04_Q2/windows
/apps/assignment05/.vs
/apps/assignment05/out/build/windows-default
/apps/assignment05/windows
